[Unit]
Description=Smart Edge device application for relaying sensor values and detecting negative pressure waves in oil pipeline
Requires=network.target
After=network.target

[Service]
Restart=always
RestartSec=3s
Type=simple
Environment=GLOG_logtostderr=1 GLOG_stderrthreshold=1
ExecStartPre=/sbin/mx-uart-ctl -p 0 -m 0
ExecStartPre=/sbin/mx-uart-ctl -p 1 -m 1
ExecStart=/usr/sbin/NPWEdge

[Install]
WantedBy=multi-user.target
